<h3 class='d-flex justify-content-between mb-5'>
  <div>
    <%= @page.title %>
    <%= link_to 'Edit', edit_notebook_page_path(@notebook, @page), class: 'btn btn-outline-primary' %>
  </div>

  <div>
    <%= form_with(model: [@notebook, @page, @paragraph], html: { class: 'float-left mr-1' }) do |form| %>
      <%= form.submit "Add Paragraph", class: 'btn btn-primary' %>
    <% end %>
    <%= form_with(model: [@notebook, @page, @image_element], html: { class: 'float-left mr-1' }) do |form| %>
      <%= form.submit "Add Image", class: 'btn btn-primary' %>
    <% end %>
    <%= form_with(model: [@notebook, @page, @checklist], html: { class: 'float-left' }) do |form| %>
      <%= form.submit "Add Checklist", class: 'btn btn-primary' %>
    <% end %>
  </div>
</h3>

<div class="col-lg-10 offset-lg-1">
  <% @page.paragraphs.each do |paragraph| %>
    <% if paragraph.persisted? %>
      <div class="text-content p-4 mb-2">
        <% if paragraph.content.present? %>
          <%= paragraph.content %>
        <% else %>
          <i>Click here to add text...</i>
        <% end %>
      </div>
      <div class="form-content p-4 mb-2 d-none">
        <%= form_with(model: [@notebook, @page, paragraph]) do |form| %>
          <%= form.rich_text_area :content %>
          <div class="buttons mt-3">
            <%= form.submit "Save", class: 'btn btn-primary' %>
            <a href="#" class="cancel btn btn-light">Cancel</a>
          </div>
        <% end %>
      </div>
    <% end %>
  <% end %>

  <% @page.image_elements.each do |image_element| %>
    <div class="image-content p-4 mb-2">
      <% if image_element.persisted? %>
        <% if image_element.image.present? %>
          <%= image_tag(image_element.image) %>
        <% else %>
          <%= form_with(model: [@notebook, @page, image_element]) do |form| %>
            <%= form.file_field :image %>
            <div class="buttons mt-3">
              <%= form.submit "Save", class: 'btn btn-primary' %>
              <%# <a href="#" class="cancel btn btn-light">Cancel</a> %>
            </div>
          <% end %>
        <% end %>
      <% end %>
    </div>
  <% end %>

  <% @page.checklists.each do |checklist| %>
    <% if checklist.persisted? %>
      <div class="p-4">
        <div class="text-content mb-2 p-2">
          <% if checklist.title.present? %>
            <h5 class="m-0"><%= checklist.title %></h5>
          <% else %>
            <h5 class="m-0 text-muted">Click to add title</h5>
          <% end %>
        </div>
        <div class="form-content mb-2 d-none">
          <%= form_with(model: [@notebook, @page, checklist]) do |form| %>
            <label>Checklist title</label>
            <%= form.text_field :title, class: 'form-control' %>
            <div class="buttons mt-3">
              <%= form.submit "Save", class: 'btn btn-primary' %>
              <a href="#" class="cancel btn btn-light">Cancel</a>
            </div>
          <% end %>
        </div>
        <div class="checklist-item-form">
          <%= form_with(model: [@notebook, @page, checklist, checklist.new_item]) do |form| %>
            <div class="input-group">
              <%= form.text_field :title, class: 'form-control', placeholder: "Add a new checklist item" %>
              <div class="input-group-append">
                <%= form.submit "Save", class: 'btn btn-dark' %>
              </div>
            </div>
          <% end %>
        </div>
        <div class="checklist-items mt-3">
          <ul class="list-group">
            <% checklist.checklist_items.each do |checklist_item| %>
              <% if checklist_item.persisted? %>
                <li class='list-group-item d-flex justify-content-between'>
                  <span><%= checklist_item.title %></span>
                  <%= link_to notebook_page_checklist_checklist_item_path(@notebook, @page, checklist, checklist_item), method: :delete, data: { confirm: "Are you sure?" }  do %>
                    <i class="fa fa-times text-secondary"></i>
                  <% end %>
                </li>
              <% end %>
            <% end %>
          </ul>
        </div>
      </div>
    <% end %>
  <% end %>

</div>
